html,
body,
#__next {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--background, #ffffff);
  color: var(--foreground, #000000);
  transition: background 0.5s;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: #888888;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #888888;
}

::-ms-input-placeholder {
  color: #888888;
}

a {
  color: #4b7bec;
  text-decoration: none;
}

::-moz-selection {
  background: #f78fb3;
  color: white;
}

::selection {
  background: #f78fb3;
  color: white;
}

hr {
  height: 1px;
  border: none;
  background: var(--accent-1);
  width: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  text-indent: 5px;
}

ul li:before {
  content: '-';
  text-indent: -5px;
  margin-right: 10px;
}
